
body {
height: 100%;
margin: 0;
color: #000;
background-color: #ededed;
font-size: 11px;
font-family: arial;
padding: 5px;
}

.warning{
background-color: orange;
}

a:visited{
color: #000;
}

fieldset{
padding: 7px;
margin: 0 0 10px 0;
}

label{
position: relative;
top: -2px;
}

#items{
height: 100%;
overflow-y: scroll;
border: 1px solid #888;
padding: 5px;
}

.item{
margin: 1px 0 1px 0;
}